@charset "utf-8";

:root {
    --cor0: white;
    --cor1: #B2B84F;
    --cor2: #B89C2B;
    --cor3: #36B829;
    --cor4: #01913d;
    --cor5: #163d1e;
    --cor6: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-padding-top: 143px
}

body {
    background-color: var(--cor1);
}

header {
    background-color: var(--cor5);
    color: var(--cor0);
    padding: 10px 10px 0px 10px;
    text-align: center;
    position: sticky;
    top: 0;
    
}

header h1 {
    padding: 10px;
}

header p {
    margin-bottom: 20px;
}

nav {
    display: flex;
    flex-flow: row wrap;
}

nav a {
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}

main {
    background-color: var(--cor0);
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.377);
    line-height: 1.3em;
}

main h2 {
    background: linear-gradient(to right, var(--cor3),var(--cor1) , transparent);
    padding: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

main h3 {
    color: var(--cor4);
    font-weight: 800;
    margin-bottom: 10px;
}

main p {
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 10px;
}

main ul {
    padding-left: 15px;
    list-style-position: inside;
    margin-bottom: 10px;
}

footer {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}